@font-face
{
    font-family:quicksand;
    src: url(Quicksand-Medium.ttf);
}

@font-face
{
    font-family:quicksandbold;
    src: url(Quicksand-Bold.ttf);
}

@font-face
{
    font-family:lato;
    src: url(Lato-Regular.ttf);
}

@font-face
{
    font-family:latobold;
    src: url(Lato-Bold.ttf);
}

/*MAIN CONTAINER*/
.container
{
    width: 1200px;
    margin: auto;
    background-color: #EBECF2;  
}

/*INNER CONTAINER*/
.innercontainer
{
    margin-left: 24px;
    margin-right: 24px; 
}

/*NAVBAR*/
.navbar
{
    height: 60px;
    background-color: #384B59;
}

.leftbar
{
    padding-top: 10px;
}

.menu
{
    padding-left: 60px;
}

.rightbar
{
    float: right;
}

.rightbar li
{   
    float: left;
    padding:11px;
}

.rightbar li:hover
{
    background-color: rgba(233, 233, 233, 0.1);
}


/*DASHBOARD*/

.dashboard
{
    padding-top: 43px;
    font-family: quicksand;
}

.citymall
{
    font-size: 18px;
}

.dmenu
{
    float: right;
    margin-right: 12px;
}

.box
{
    width: 270px;
    margin-left:24px;
    float:left;
}

.box:nth-child(1)
{
    margin-left:0px;    
}

.dashbox
{
    color: rgba(255, 255, 255, 1);
    height: 110px;
}

.dashdivmargin
{
    margin-top: 36px;
}

.leftbox
{
    float: left;
}

.topleft
{
    display: inline-block;
    padding-top: 21px;
    padding-left: 15px;
    font-size: 16px;
}

.bottomleft
{
    padding-top: 34px;
    padding-left: 15px;
    font-size: 30px;
}

.dashsmallbox
{  
    height: 110px;
    width: 90px;
    float: right;
}

.dollarimage
{
    padding-top: 34px;
    padding-left: 33px;
}

.milestoneimage
{
    padding-top: 32px;
    padding-left: 23px;
}

.yellow
{
    background-color: #FEC006;
}

.darkbox
{
    background-color: rgba(0, 0, 0, 0.1);
}

.dashboardpadding
{
    float: left;
    margin-left: 24px;
}

.pink
{
    background-color: #E81D62;
}

.green
{
    background-color: #8AC249;
}

.tasksimage
{
    padding-top: 34px;
    padding-left: 28px;
}

.blue
{
    background-color: #2095F2;
}

.documentsimage
{
    padding-top: 32px;
    padding-left: 24px;
}

.clearfix
{
    clear: both;
}

/*MILESTONES SECTION*/

.milestones
{
    margin-top: 55px;
    font-family: quicksand;
}

.milestonecontrol
{
    float: right;
}

.lessthan
{
    margin-right: 27px;
}

.milestonedivmargin
{
    margin-top: 21px;
}

.milebox
{
    height: 226px;
}

.milestonetopbox
{
    color: #363F45;
    height: 166px;
    background-color: #FFFFFF;
}

.milestonecircle
{
    height: 87px;
    width: 87px;
    background-color: #F6EFD2;
    margin-top: 38px;
    margin-left: 90px;
    border:solid 2px white;
    border-radius: 50%;    
}

.milestonevalue
{
    font-size: 30px;
    text-align: center;
    padding-top: 12px;
    height: 38px;
}

.milestonepercent
{
    font-size: 16px;
    text-align: center;
}

.shadowgreen
{
    box-shadow: 0 0 0 10px #8AC249;
}

.shadowyellow
{
    box-shadow: 0 0 0 10px #FEC006;
}

.shadowclear
{
    box-shadow: 0 0 0 10px #F1F1F1;
}

.milestonebottombox
{
    color: #363F45;
    height: 59px;
    margin-top: 1px;
    background-color: #FFFFFF;
    width: 270px;
    float:left;
}

/* PROGRESSBAR */

.progressbar
{
    margin-top: 31px;
    background-color: #F5F5F5; 
    height: 9px;
    border-radius: 4.5px;
}

.progressbarfill
{
    background-color: #D4C69B;
    height: 5px;
    border-radius: 2.5px;
    margin: auto;
    width: 299px;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}

/* RECENT TASKS AND WORK STATUS */

.taskstatus
{
    margin-top: 69px;
}

/* TASK */

.task
{
    float: left;
    width: 564px;
    height: 339px;
    font-family: lato;
    color: #919599;
}

.taskstatusinnercontainer
{
    margin-left: 30px;
    margin-right: 30px; 
}

.taskbox
{
    background-color: #FFFFFF;
    height: 56px;
}

.taskpadding
{
    margin-top: 0.2%;
}

.taskpadding:nth-child(1)
{
    margin-top: 0%;
}

.taskstatusheader
{
    font-family: quicksandbold;
    font-size: 16px;
    color: #363F45;
    margin-top: 18px;
    float: left;
}

.taskstatusmenu
{
    float: right;
    margin-top: 19px;
}

.taskcontentpadding
{
    font-size: 14px;
    float: left;
    padding-top: 20px;
}

.taskdatepadding
{
    float: right;
    padding-top: 20px;
    font-size: 12px;
    margin-right: 26px;
    text-align: center;
}

.tasktopdate
{
    text-align: center;
}

.checkbox
{
    margin-top: 20px;
    float: right;
    border: solid 1px #CED4D9;
    height: 17px;
    width: 17px;
}

.tick
{
    margin-top: 21px;
    float: right;
}

/* STATUS */

.status
{
    float: right;
    width: 564px;
    height: 339px;
    font-family: latobold;
    color: #363F45;
}

.taskborder
{
    /* border-bottom: 1px solid #EBECF2; */
    margin-top: 1px;
}

.statusbottombox
{
    height: 282px;
    background-color: #FFFFFF;
}

/* FOOTER */

.footmargin
{
    font-family: lato;
    margin-top: 111px;
    height: 44px;
    background-color: #384B59;
    color: #9CAAB4;
}

.foottext
{
    margin-top: 15px;
    float: right;    
}
