*
{
    box-sizing: border-box;
}

/* FONTS */
@font-face
{
    font-family:quicksand;
    src: url(Quicksand-Medium.ttf);
}

@font-face
{
    font-family:quicksandbold;
    src: url(Quicksand-Bold.ttf);
}

@font-face
{
    font-family:lato;
    src: url(Lato-Regular.ttf);
}

@font-face
{
    font-family:latobold;
    src: url(Lato-Bold.ttf);
}

/*MAIN CONTAINER*/
.container
{
    width: 1200px;
    margin: auto;
    background-color: #EBECF2;  
}

/*INNER CONTAINER*/
.innercontainer
{
    margin-left: 24px;
    margin-right: 24px; 
}

/*NAVBAR*/
.clearfix
{
    clear: both;
}

.navbar
{
    /* height: 60px; */
    background-color: #384B59;
}

.navbarpadding
{
    padding-top: 10px;
}

.navbarmenu
{
    margin-left: 60px;
}

.navbarright
{
    float: right;
}

.navbarright li
{
    float: left;
}

.navbarright a
{
    display: inline-block;
    height: 40px;
    width: 40px;
}

.navbarright a:hover
{
    background-color: rgba(233, 233, 233, 0.1);
}

.navbarright img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.notifications
{
    margin-top: 12px;
}

.dimensions
{
    height: 17px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

.relative
{
    position: relative;
}

.notificationscircle
{
    height: 19px;
    width: 19px;
    background-color: #FE5621;
    border-radius: 50%;    
    position: absolute;
    left: 11px;
    bottom: 10px;
    color: #FFFFFF;
    size: 14px;
    font-family: lato;
    text-align: center;
}

.settings
{
    margin-top: 10px;
}

.search
{
    margin-top: 11px;
}

/*DASHBOARD*/
.dashboard
{
    margin-top: 43px;
    font-family: quicksand;
}

.citymall
{
    display: inline-block;
    font-size: 18px;
}

.dmenu
{
    float: right;
    margin-right: 12px;
}

.dashmargin
{
    margin-top: 36px;
}

.box
{
    width: 270px;
    margin-left:24px;
    float:left;
}

.box:nth-child(1)
{
    margin-left:0px;    
}

.dashbox
{
    color: rgba(255, 255, 255, 1);
    height: 110px;
}

.leftbox
{
    float: left;
}

.topleft
{
    display: inline-block;
    padding-top: 21px;
    padding-left: 15px;
    font-size: 16px;
}

.bottomleft
{
    padding-top: 34px;
    padding-left: 15px;
    font-size: 30px;
}

.rightbox
{  
    height: 110px;
    width: 90px;
    float: right;
    background-color: rgba(0, 0, 0, 0.1);
}

.dollarimage
{
    padding-top: 34px;
    padding-left: 33px;
}

.milestoneimage
{
    padding-top: 32px;
    padding-left: 23px;
}

.yellow
{
    background-color: #FEC006;
}

.dashboardpadding
{
    float: left;
    margin-left: 24px;
}

.pink
{
    background-color: #E81D62;
}

.green
{
    background-color: #8AC249;
}

.tasksimage
{
    padding-top: 34px;
    padding-left: 28px;
}

.blue
{
    background-color: #2095F2;
}

.documentsimage
{
    padding-top: 32px;
    padding-left: 24px;
}

/*MILESTONES SECTION*/
.milestones
{
    margin-top: 55px;
    font-family: quicksand;
}

.milestonecontrol
{
    float: right;
}

.lessthan
{
    margin-right: 27px;
}

.milestonemargin
{
    margin-top: 21px;
}

.milebox
{
    height: 226px;
}

.topbox
{
    color: #363F45;
    height: 166px;
    background-color: #FFFFFF;
    padding-top: 38px;
}

.milestonecircle
{
    height: 87px;
    width: 87px;
    background-color: #F6EFD2;
    margin-left: 90px;
    border:solid 2px white;
    border-radius: 50%;    
}

.milestonevalue
{
    font-size: 30px;
    text-align: center;
    padding-top: 12px;
    line-height: 30px;
    
}

.milestonepercent
{
    font-size: 16px;
    text-align: center;
}

.shadowgreen
{
    box-shadow: 0 0 0 10px #8AC249;
}

.shadowyellow
{
    box-shadow: 0 0 0 10px #FEC006;
}

.shadowclear
{
    box-shadow: 0 0 0 10px #F1F1F1;
}

.milestonebottombox
{
    color: #363F45;
    height: 59px;
    margin-top: 1px;
    background-color: #FFFFFF;
    width: 270px;
}

.milestone
{
    font-family: lato;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 57px;
    float: right;
}

.milestonenumber
{
    font-family: quicksandbold;
    font-size: 34px;
    padding-top: 9px;
    padding-right: 22px;
    color: #E1E2E9;
    float: right;
}

/* PROGRESSBAR */
.progressbar
{
    margin-top: 31px;
    background-color: #F5F5F5; 
    height: 9px;
    border-radius: 4px;
}

.progressbarfill
{
    background-color: #D4C69B;
    height: 5px;
    border-radius: 2px;
    margin: auto;
    width: 299px;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}

/* RECENT TASKS AND WORK STATUS */
.taskstatus
{
    margin-top: 69px;
    height: 341px;
}

/* TASK */
.task
{
    float: left;
    width: 564px;
    font-family: lato;
    color: #919599;
}

.taskbox
{
    background-color: #FFFFFF;
    height: 56px;
}

.taskbox:nth-child(3)
{
    background-color: #E1F5E3;
}

.taskpadding
{
    margin-top: 1px;
}

.taskpadding:nth-child(1)
{
    margin-top: 0px;
}

.taskstatusinnercontainer
{
    margin-left: 30px;
    margin-right: 30px; 
}

.taskstatusheader
{
    font-family: quicksandbold;
    font-size: 16px;
    color: #363F45;
    margin-top: 18px;
    float: left;
}

.taskstatusmenu
{
    float: right;
    margin-top: 19px;
}

.taskcontentpadding
{
    font-size: 14px;
    float: left;
    padding-top: 20px;
}

.greentext
{
    color:#4BAE4F;
}

.taskdatepadding
{
    float: right;
    padding-top: 20px;
    font-size: 12px;
    margin-right: 26px;
}

.tasktopdate
{
    text-align: center;
}

.checkbox
{
    margin-top: 20px;
    float: right;
    border: solid 1px #CED4D9;
    height: 17px;
    width: 17px;
}

.tick
{
    margin-top: 21px;
    float: right;
}

/* STATUS */
.status
{
    float: right;
    width: 564px;
    font-family: latobold;
    color: #363F45;
}

.statusbottom
{
    padding-top: 32px;
    height: 284px;
    background-color: #FFFFFF;
}

.statusbox
{
    height: 38px;
}

.statusmargin
{
    margin-top: 41px;
}

.statuscontent
{
    float: left;
    padding-top: 19px;
}

.statusbar
{
    float: right;
    width: 332px;
    height: 9px;
    background-color: #E1E2E6;
    border-radius: 4px;
    margin-top: 28px;
}

.statusbarfill
{
    background-color: #5FCCC1;
    height: 9px;
    border-radius: 4px;
    margin: auto;
    float: left;
}

.fill1
{
    width: 152px;
}

.fill2
{
    width: 192px;
}

.fill3
{
    width: 114px;
}

.chatsquare
{
    height: 19px;
    width: 32px;
    background-color: #5FCCC1;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 3px;
}

.absolute1
{
    position: absolute;
    top: -24px;
    left: 133px;
}

.absolute2
{
    position: absolute;
    top: -24px;
    left: 173px;
}

.absolute3
{
    position: absolute;
    top: -24px;
    left: 95px;
}

.chatarrow
{
    width: 0; 
    height: 0; 
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 3px solid #5FCCC1;
    position: absolute;
    bottom: -3px;
    left: 14px;
}

/* FOOTER */
.footmargin
{
    font-family: lato;
    margin-top: 111px;
    height: 44px;
    background-color: #384B59;
    color: #9CAAB4;
}

.foottext
{
    margin-top: 15px;
    float: right;    
}
