@font-face
{
    font-family:quicksand;
    src: url(Quicksand-Medium.ttf);
}

/*MAIN CONTAINER*/
.container
{
    width: 1200px;
    margin: auto;
    background-color: #EBECF2;  
}

/*INNER CONTAINER*/
.innercontainer
{
    margin-left: 24px;
    margin-right: 24px; 
}

/*NAVBAR*/
.navbar
{
    height: 60px;
    width: 1200px;
    background-color: #384B59;
}

.leftbar
{
    padding-top: 10px;
}

.menu
{
    padding-left: 60px;
}

.rightbar
{
    float: right;
}

.rightbar li
{   
    float: left;
    padding:11px;
}

.rightbar li:hover
{
    background-color: rgba(233, 233, 233, 0.1);
}


/*DASHBOARD*/

.dashboard
{
    padding-top: 43px;
    font-family: quicksand;
}

.citymall
{
    font-size: 18px;
}

.dmenu
{
    float: right;
    margin-right: 12px;
}

.box
{
    width: 270px;
    margin-left:24px;
    float:left;
}

.box:nth-child(1)
{
    margin-left:0px;    
}

.dashbox
{
    color: rgba(255, 255, 255, 1);
    height: 110px;
}

.dashdivmargin
{
    margin-top: 36px;
}

.leftbox
{
    float: left;
}

.topleft
{
    display: inline-block;
    padding-top: 21px;
    padding-left: 15px;
    font-size: 16px;
}

.bottomleft
{
    padding-top: 34px;
    padding-left: 15px;
    font-size: 30px;
}

.dashsmallbox
{  
    height: 110px;
    width: 90px;
    float: right;
}

.dollarimage
{
    padding-top: 34px;
    padding-left: 33px;
}

.milestoneimage
{
    padding-top: 32px;
    padding-left: 23px;
}

.yellow
{
    background-color: #FEC006;
}

.darkbox
{
    background-color: rgba(0, 0, 0, 0.1);
}

.dashboardpadding
{
    float: left;
    margin-left: 24px;
}

.pink
{
    background-color: #E81D62;
}

.green
{
    background-color: #8AC249;
}

.tasksimage
{
    padding-top: 34px;
    padding-left: 28px;
}

.blue
{
    background-color: #2095F2;
}

.documentsimage
{
    padding-top: 32px;
    padding-left: 24px;
}

.clearfix
{
    clear: both;
}

/*MILESTONES SECTION*/

.milestones
{
    margin-top: 55px;
    font-family: quicksand;
}

.milestonecontrol
{
    float: right;
}

.lessthan
{
    margin-right: 27px;
}

.milestonedivmargin
{
    margin-top: 21px;
}

.milebox
{
    height: 226px;
    width: 270px;
    background-color: #FFFFFF;
}

.milestonetopbox
{
    color: #363F45;
    height: 166px;
}
